.header{
    background: rgb(1,5,5);
    background: linear-gradient(0deg, rgba(60, 226, 15, 0.101)3%,
    rgba(12,13,13,1)13%,
    rgb(7, 207, 37)37%,
    rgb(3, 128, 7)46%,
    rgba(150,190,113,1)73%,
    rgb(6, 125, 2)91%)
    ;
    height:80vh;
    overflow:hidden;
    border: none;
}