
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,700;1,200;1,600;1,800&display=swap');
/* Import the Swiper styles */
@import 'swiper/swiper-bundle.min.css';

/* Your custom styles */
/* ... */

@tailwind base;
@tailwind components;
@tailwind utilities; 


.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}
